/* ==========================================================================
   My Helper classes
   ========================================================================== */
/* line 4, ../scss/th_helpers.scss */
html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../scss/th_helpers.scss */
body {
  background-color: #000;
  min-height: 100%;
}

/* line 15, ../scss/th_helpers.scss */
a {
  text-transform: none;
  text-decoration: none;
  color: inherit;
}

/* line 43, ../scss/th_helpers.scss */
.hide-phone {
  display: none;
}
@media (min-width: 780px) {
  /* line 43, ../scss/th_helpers.scss */
  .hide-phone {
    display: inline;
  }
}

/* line 51, ../scss/th_helpers.scss */
.up-600 {
  display: inline;
}
@media (max-width: 600px) {
  /* line 51, ../scss/th_helpers.scss */
  .up-600 {
    display: none;
  }
}

/* line 58, ../scss/th_helpers.scss */
.down-600 {
  display: none;
}
@media (max-width: 600px) {
  /* line 58, ../scss/th_helpers.scss */
  .down-600 {
    display: inline;
  }
}
