// ==========================================================================
// Colors
// ==========================================================================

$azulLogo: rgb(102, 121, 160);
$vermLogo: rgb(188, 69, 100);
$batom: rgb(243, 58, 66);


$sans: "Gudea", Tahoma, Verdana, Segoe, sans-serif;
$sansSys: Tahoma, Verdana, Segoe, sans-serif;