/* ==========================================================================
   My Helper classes
   ========================================================================== */
html * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #000;
    min-height: 100%;
}

a {
    text-transform: none;
    text-decoration: none;
    color: inherit;
}


%navInline {
    display: inline;

    &>ul{
        margin: 0;
        padding: 0;
        display: inline;
    }

    li {
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }
}

%row {
    width: 80%;
    margin: 0 auto;
}

.hide-phone {
    display: none;
    
    @media(min-width: 780px) {
        display: inline;
    }
}

.up-600 {
  display: inline;
    
  @media(max-width: 600px) {
      display: none;
  }
}
.down-600 {
  display: none;
    
  @media(max-width: 600px) {
      display: inline;
  }
}

// =========================================================
// Media Queries mixins
// =========================================================
@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 650px)  { @content; }
  }
}